[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=n
Group=n

WorkingDirectory=/home/n/SergeiProjects/
Environment="PYTHONPATH=/home/n/SergeiProjects/"
ExecStart=/home/n/SergeiProjects/.venv/bin/python /home/n/SergeiProjects/tele_bot/tele_bot.py

[Install]
WantedBy=multi-user.target